body {
    background-image: url("https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg");
}

.navbar {
    background-image: url("https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg");
}

h1 {
    color: rgb(199, 199, 65);
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.btn {
     background: rgb(199, 199, 65);
}