body {
    background-image: url("https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg");
}

.navbar {
    background-image: url("https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg");
}

h1 {
    color: rgb(199, 199, 65);
}

.btn {
     background: rgb(199, 199, 65);
}

//div.scrollmenu {
//   background-color: #333;
//   overflow: auto;
//   white-space: nowrap;
// }